name: TryHackMe Update Badge

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  tryhackme-badge-update:
    name: Update TryHackMe badge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Update TryHackMe badge
        uses: p4p1/tryhackme-badge-workflow@main
        with:
          username: "qwertyfix"
          image_path: ./assets/thm_propic.png
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
